<aside id="mobile-access" class="side-navigation-wrapper enter-right">
    <div class="side-navigation-header">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="Logo" /></a>
        </div>
        <div id="side-nav-hide" class="navigation-hide">
            <a href="#">
                <span class="icon-cancel medium"></span>
            </a>
        </div>
    </div>
    <nav class="side-navigation">
        <ul>
            <li>
                <a href="#" class="contains-sub-menu">The Good Stuff</a>
                <ul class="sub-menu">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="contains-sub-menu">Who Am I?</a>
                <ul class="sub-menu">
                    <li>
                        <a href="about.html">About Me</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="contains-sub-menu">My Opinions?</a>
                <ul class="sub-menu">
                    <li>
                        <a href="blog.html">My Blog</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="contains-sub-menu">My Work</a>
                <ul class="sub-menu">
                    <li>
                        <a href="portfolio/harvest-goods.html">With Fullscreen Parallax</a>
                    </li>
                    <li>
                        <a href="portfolio/madam-creative.html">With Fullscreen Slider</a>
                    </li>
                    <li>
                        <a href="portfolio/nu-clothing.html">With Gallery &amp; Bkg Video</a>
                    </li>
                    <li>
                        <a href="portfolio/repetition-makes-mastery.html">With Video</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="contains-sub-menu">Get A Hold Of Me?</a>
                <ul class="sub-menu">
                    <li>
                        <a href="contact-style-one.html">Contact Me</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="side-navigation-footer">
        <ul class="social-list list-horizontal">
            <li><a href="#" class="icon-facebook small"></a></li>
            <li><a href="#" class="icon-twitter small"></a></li>
            <li><a href="#" class="icon-pinterest small"></a></li>
            <li><a href="#" class="icon-flickr small"></a></li>
            <li><a href="#" class="icon-gplus small"></a></li>
        </ul>
        &copy; 2016 David O'Regan All Rights Reserved.
    </div>
</aside>
