.welcome {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background: url('../../../assets/img/welcome-cover.jpg') no-repeat center
    center fixed;
  background-size: cover;
}

.welcome:before {
  position: absolute;
  z-index: 0;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background: #007bff;
}

@media (max-width: 767.98px) {
  .welcome .inner-wrapper {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .welcome .welcome-heading {
    font-size: 2.415rem;
  }
}

.section-title {
  position: relative;
}

.section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: #007bff;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -20px;
}

.feature .icon {
  border-radius: 50%;
  min-width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(33, 37, 41, 0.1), 0 7px 14px rgba(33, 37, 41, 0.1);
  font-size: 27px;
}

.section {
  border-bottom: 1px solid #eaebed;
}

.section-invert {
  background: #f9fafc;
}

.testimonials .avatar {
  max-width: 80px;
  overflow: hidden;
}

.welcome {
  position: relative;
  height: 100vh;
  min-height: 700px;
  background: url('../../../assets/img/welcome-cover.jpg') no-repeat center
    center fixed;
  background-size: cover;
}

.welcome:before {
  position: absolute;
  z-index: 0;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
  background: #212529;
}

@media (max-width: 991.98px) {
  .welcome {
    height: auto;
  }
  .welcome .header-social-icons {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .welcome {
    height: auto;
  }
  .welcome .inner-wrapper {
    padding-top: 4.5rem;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .welcome .welcome-heading {
    font-size: 2.415rem;
  }
}

.welcome .iphone-mockup {
  max-width: 85%;
}

.section-title {
  position: relative;
}

.section-title:after {
  content: '';
  width: 30px;
  height: 2px;
  background: #000;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  bottom: -20px;
}

.section-title.underline--left:after {
  left: 0;
  margin-left: 0;
}

.app-screenshot {
  background: url('../../../assets/img/features-background.jpg') no-repeat
    center center fixed;
  background-size: cover;
}

.app-screenshot:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #e9ecef;
  opacity: 0.6;
}

.app-screenshot img {
  border-radius: 5px;
  max-width: 80vh;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 13px 25px rgba(0, 0, 0, 0.05),
    0 60px 100px rgba(192, 192, 192, 0.5);
}

@media (max-width: 991.98px) {
  .app-screenshot img {
    display: table;
    position: static;
    -webkit-transform: translate(0);
    transform: translate(0);
    margin: 0 auto;
  }
}

.feature .icon {
  border-radius: 50%;
  min-width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(33, 37, 41, 0.1), 0 7px 14px rgba(33, 37, 41, 0.1);
  font-size: 27px;
}

@media (max-width: 767.98px) {
  .feature .icon {
    margin-right: 1.5rem !important;
  }
}

.blog .card-img-top {
  height: 100%;
}

.section {
  border-bottom: 1px solid #eaebed;
}

.section-invert {
  background: #f9fafc;
}

.testimonials .avatar {
  max-width: 80px;
  overflow: hidden;
}

@media (max-width: 767.98px) {
  .subscribe input,
  .subscribe button {
    width: 100%;
  }
}
